body{
    text-align: center;
    margin: 0px;
    background: linear-gradient(rgb(255, 200, 200),rgb(2, 148, 2));
}
.profile{
    width: 450px;
    height: 500px;
    border-radius: 250px;
}
#name{
    color: rgb(0, 0, 0);
    font-size: 26px;
}
#welcome{
    
    padding-top: 20px;
    padding-bottom: 1px;
}
#p{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: lighter;
}